<div class="row">
  <div class="col-md-7 about">
    <p>Currently a Web Development Intern at <a href="http://developmentnow.com">DevelopmentNow</a></p>
    <p>Formerly a student at <a href="http://epicodus.com">Epicodus</a> and <a href="http://freecodecamp.com/patsul12">Free Code Camp</a>.</p>
    <p>I like to make things, meet new people, and explore the inner workings of existing products. If I'm not in class, getting coffee, or attending a meetup (specifically for the free pizza of course), you'll find me attempting to find my caveman roots by venturing into the woods.</p>
    <p>I am a Maryland transplant currently exploring the left coast for the first time.</p>
    <p>You can see what im currently working / contributing to on <a href="http://github.com/patsul12">Github</a>.</p>
    <hr />
  </div>
</div>
