<div class="row">
  <div class="col-md-7 about">
    <p>Currently a Developer at <a href="http://callbox.com" target="_blank">Call Box</a></p>
    <p>Formerly a student at <a href="http://epicodus.com" target="_blank">Epicodus</a> and <a href="http://freecodecamp.com/patsul12" target="_blank">Free Code Camp</a>.</p>
    <p>I like to make things, meet new people, and explore the inner workings of existing products. If I'm not working, learning, getting coffee, or attending a meetup (specifically for the free pizza of course), you'll find me attempting to find my caveman roots by venturing into the woods.</p>
    <p>I am a Maryland transplant currently rebounding from a short stint in Portland, Oregon and "settling" in Dallas, Texas.</p>
    <p>You can see what im currently working / contributing to on <a href="http://github.com/patsul12" target="_blank">Github</a> or take a gander at my <a href="https://www.visualcv.com/patrick-sullivan" target="_blank">resume</a> for more information.</p>
    <hr />
  </div>
</div>
